html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e3e3e3;
    font-family: Arial, sans-serif;
    color: #ffae2b;
    margin: 0;
}

main {
    flex: 1;
}

nav {
    display: flex;
    align-items: center;
    background-color: #959595;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
    display: flex;
    gap: 20px;
}

nav li {
    display: inline-block;
}

nav a {
    color: rgb(226, 137, 21);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: rgba(244, 189, 59, 0.494);
}

nav a.logo-link {
    padding: 0;
    line-height: 0;
}

nav a.logo-link:hover {
    background-color: transparent;
}

nav img {
    padding: 5px;
    width: 150px;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    background-color: #ffffff;
    box-sizing: border-box;
}

footer {
    display: flex;
    align-items: center;
    background-color: #959595;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 7px;
    justify-content: center
}
    