<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/title.png') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}" class="logo-link">
            <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Logo">
        </a>
        <ul>
            <li><a href="{{ url_for('meny') }}">Meny</a></li>
            <li><a href="{{ url_for('varer') }}">Varer</a></li>
            <li><a href="{{ url_for('kontakt') }}">Kontakt</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <h1>© 2025 Kantine Laget Av Ebbe</h1>
    </footer>
</body>
</html>