{% extends "base.html" %}

{% block title %}Varer{% endblock %}

{% block content %}
<div class="content-container">
    <h1>Varer til salgs</h1>
    <p>Her er en oversikt over standardvarene vi tilbyr i kantinen. Utvalget kan variere noe fra dag til dag.</p>
    <ul class="varer-liste">
        {% for vare in varer %}
            {% if vare.navn == 'God Morgen Yogurt' %}
                <li id="yogurt-sale">
                    <span class="vare-navn">{{ vare.navn }}</span>
                    <div class="pris-container">
                        <span class="sale-text">GIGA ULTRA SALE</span>
                        <span class="vare-pris">{{ vare.pris }}</span>
                    </div>
                </li>
            {% else %}
                <li>
                    <span class="vare-navn">{{ vare.navn }}</span><span class="vare-pris">{{ vare.pris }}</span>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}